.dropdown {
    position: relative;
    display: inline-block;
}
  
.drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 16px;
    min-width: 90%;
}

.dropdown:hover .drop-content {
    display: block;
}